<div class="card">
  <app-picture-box [image]="product.image"></app-picture-box>
  <div class="card-content">
    <div class="content">
      <div class="field">
        <div class="control">
          <!--            <p *ngIf="!editable && !insertable" class="title is-4">{{product.title}}</p>-->
          <p type="text">{{product.title}}</p>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <p type="text"
             placeholder="قیمت">{{product.price}}</p>
        </div>

        <div class="field mt-3">
          <div class="control">
            <div style="overflow-x: hidden; overflow-y: auto;"
                 placeholder="توضیحات"
                 rows="2">{{product.description}}</div>
          </div>
        </div>
      </div>

    </div>
  </div>

<!--  <footer class="card-footer" *ngIf="editable || insertable">-->
<!--    <button class="card-footer-item button is-success">-->
<!--      ثبت-->
<!--    </button>-->
<!--    <a class="card-footer-item button is-danger">-->
<!--      انصراف-->
<!--    </a>-->
<!--  </footer>-->

  <footer class="card-footer">
    <button *ngIf="authService.appInfo.isAdmin"
            class="card-footer-item button is-white"
            (click)="editClick()">ویرایش</button>
    <button class="card-footer-item button is-white">
      مشاهده
    </button>
    <button class="card-footer-item button is-white">
      خرید
    </button>
  </footer>
</div>
