<div class="container-fluid" style="padding: 10px 8px">
  <div class="columns" style="padding: 0px;">
    <div class="column is-3" style="background-color: #fabdc9" >
      <button class="button is-fullwidth is-outlined"
              *ngIf="!showSidebar"
              (click)="toggleSidebar()">
        <span>گزینه های سایت</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down"></i>
        </span>
      </button>
      <aside class="menu" *ngIf="showSidebar">
        <div class="menu-label">
          <div class="columns is-multiline">
            <div class="column is-12" >
              <button class="button is-fullwidth"
                      *ngIf="showSidebar"
                      (click)="toggleSidebar()">
                <span>گزینه های سایت</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-up"></i>
                </span>
              </button>
            </div>
<!--            <div class="column is-12">General</div>-->
          </div>
        </div>
        <ul class="menu-list">
          <li><a [routerLink]="['my-sites']" routerLinkActive="active-link">سایت های من</a></li>
          <li><a [routerLink]="['new-site']" routerLinkActive="active-link">سایت جدید</a></li>
        </ul>
<!--        <p class="menu-label">Administration</p>-->
<!--        <ul class="menu-list">-->
<!--          <li><a>Team Settings</a></li>-->
<!--          <li>-->
<!--            <a class="is-active">Manage Your Team</a>-->
<!--            <ul>-->
<!--              <li><a>Members</a></li>-->
<!--              <li><a>Plugins</a></li>-->
<!--              <li><a>Add a member</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li><a>Invitations</a></li>-->
<!--        </ul>-->
      </aside>

    </div>
    <div class="column is-9" style="background-color: #faf9aa; height: 600px">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
