server:
  port: 80
  servlet:
    encoding:
      force-response: true
spring:
  profiles:
    include: module-application
  servlet:
    multipart:
      max-file-size: 2048KB
      max-request-size: 2048KB
  jpa:
    hibernate:
      naming:
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
  datasource:
    jpa:
      database-platform: org.hibernate.dialect.H2Dialect
logging:
  level:
    org:
      springframework:
        security: DEBUG
    root: INFO
    com.rh: INFO
  pattern:
    file: "%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"
  file:
    path: ./application.log
database:
  show-sql: true
  pool-size: 5
  support:
    url: jdbc:h2:file:./data/support
    username: support
    password: s
    driverClassName: org.h2.Driver
  #    driverClassName: oracle.jdbc.OracleDriver
  packages-to-scan:
    - ir.piana.business.multishop.common.data.entity
    - ir.piana.business.multishop.module.**.data.entity
