<div class="container is-fluid">
  <div class="columns" style="margin: 0px;">
    <div class="column is-3" style="background-color: inherit;">
      <aside class="menu">
        <p class="menu-label">
          محصولات
        </p>
        <ul class="menu-list">
          <li *ngFor="let cat of categorization">
            <a [routerLink]="['/tile/shop/products-gallary/' + cat['routerLink']]"
               routerLinkActive="menu-active-link">{{cat['title']}}</a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="column is-9" style="background-color: inherit; height: 800px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
