<ng-container *ngIf="(shareStateService.editModeSubject | async)">
  <router-outlet></router-outlet>
</ng-container>
<ng-container *ngIf="!(shareStateService.editModeSubject | async)">
  <section class="section" >
    <div class="container is-fluid">
      <div class="columns" style="margin: 0px;">
        <div class="column is-12-mobile is-2-desktop is-4-tablet" style="background-color: inherit;" >
          <aside class="menu">
            <p class="menu-label">
              دسته بندی جدید
            </p>
            <app-product-category
              #insert
              [insertable]="true"
              (insertClick)="insertNewCategory($event)">
            </app-product-category>
            <p class="menu-label">
              دسته بندی ها
            </p>
            <ul class="menu-list">
              <app-product-category *ngFor="let cat of categorization" [productCategory]="cat"
                                    (updateClick)="updateCategory($event)"
                                    [editable]="true">
              </app-product-category>
              <!--          <li *ngFor="let cat of categorization">-->
              <!--            <a [routerLink]="['/tile/shop/products-gallary/' + cat['routerLink']]"-->
              <!--               routerLinkActive="menu-active-link">{{cat['title']}}</a>-->
              <!--          </li>-->
            </ul>
          </aside>
          <!--      <app-product-categorization [categorization]="categorization"></app-product-categorization>-->
        </div>
        <div [ngClass]="(shareStateService.editModeSubject | async) ? 'column is-12': 'column is-12-mobile is-10-desktop is-8-tablet'" style="background-color: inherit;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </section>
</ng-container>

