<div *ngIf="!insertable && (!editable || !editMode)">
  <li>
    <div class="field has-addons">
      <div class="control is-expanded">
        <div class="is-fullwidth">
          <a class="control has-icons-left"
             [routerLink]="['/tile/shop/products-gallery/' + productCategory['routerLink']]"
             routerLinkActive="menu-active-link">{{productCategory['title']}}
          </a>
        </div>
      </div>
      <div class="control">
        <button (click)="editMode = true" type="submit" class="button is-outlined" style="border: none">
          <span class="icon is-small is-left">
            <i class="fas fa-edit"></i>
          </span>
        </button>
      </div>
    </div>
  </li>
</div>
<div *ngIf="insertable || (editable && editMode)">
  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="field">
        <p class="control is-small has-icons-left">
          <input [(ngModel)]="productCategory.title"
                 class="input" type="email" placeholder="عنوان دسته بندی">
          <span class="icon is-small is-left">
            <i class="fas fa-closed-captioning"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control is-small has-icons-left">
          <input [(ngModel)]="productCategory.routerLink"
                 class="input" type="text" placeholder="لینک نمایشی">
          <span class="icon is-small is-left">
            <i class="fas fa-link"></i>
          </span>
        </p>
      </div>
    </div>
    <div class="column is-12">
      <div class="buttons has-addons" style="direction: ltr">
        <button class="button is-success"
                (click)="registerClick()"
                style="height: 100%">
          <i class="fas fa-check"></i>
        </button>
        <button class="button is-danger "
                (click)="clearClick()"
                style="height: 100%">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
</div>
