<div *ngIf="insertable">
  <p class="menu-label">
    دسته بندی جدید
  </p>
  <div class="columns">
    <div class="column is-10">
      <div class="field">
        <p class="control is-small has-icons-left">
          <input [(ngModel)]="productCategorization.title"
                 class="input" type="email" placeholder="عنوان دسته بندی">
          <span class="icon is-small is-left">
            <i class="fas fa-closed-captioning"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control is-small has-icons-left">
          <input [(ngModel)]="productCategorization.routerLink"
                 class="input" type="text" placeholder="لینک نمایشی">
          <span class="icon is-small is-left">
            <i class="fas fa-link"></i>
          </span>
        </p>
      </div>
    </div>
    <div class="column is-2">
      <button class="button is-small is-success is-fullwidth"
              (click)="registerClick()"
              style="height: 100%">ثبت</button>
    </div>
  </div>
</div>
